.blog{
    background-color: #0087ca;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 12vh;
}


.blog a{
    font-weight: 700;
    cursor: pointer;
    text-decoration:none;
    color: white;
    cursor: pointer;
    display: block;
}

.blog .hover-underline-animation {
  display: inline-block;
  position: relative;
}

.blog .hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.blog .hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.about, .contact{
    width: 100%;
    display: flex;
}

.skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.center{
    display: flex;
    justify-content: center;
    width: 100%;
}

.category{
    color: #0087ca;
}


.about h2{
    display: flex;
    align-items:center;
}

.text-side{
    width: 50%;
    padding: 5%;
}

.image-side{
    width: 50%;
    display: flex;
    justify-content: center;
}

.spacer{
   margin: 0 5px; 
}

.contact div{
    width: 50%;
}

.contact .image-side{
    background-color: rgba(0, 0, 0, 0.05);
}

.contact .text-side{
    background-color: #0087ca;
    color: white;
    padding:5%;
}

.about img, .contact img{
    width: 50%;
}

.large img{
    width: 70%;
}

.accent{
    color: #0087ca;
    margin-right: 10px;
    display: inline;
}

.white{
    color: white;
}

.reveal{
    color: black !important;
    display: inline;
}

.whoami{
    display: none;
    color: rgba(0, 0, 0, 0.45);
    padding: 0.5% 1%;
    font-size: 10px;
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0.03);
}

.reveal:hover + span{
    display: inline;
}

.bulletPoint{
    margin: 2% 0; 
    padding: 1% 2%;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.05);
    display: inline-block;
}

.tag{
    padding: 1% 2%;
    font-size: 16px !important;
    background-color: #f2f2f2;
    margin: 1%;
    display: flex !important;
    width: min-content;
}

.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:flex-start;
    margin-top: 2%;
}

.contact a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-weight: 500;
}

.contact .hover-underline-animation:after{
    background-color: white;
}

.label{
    font-weight: 200;
}
