/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap');

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    cursor: default;
    }

.App{
    margin-top: 10vh;
    overflow: hidden;
}

.navbar{
    background-color: white;
}

.footer{
    background-color:#3b4252;
    color: white;
}

a{
    cursor: pointer;
}
